 
.container{
    padding: 64px;
    box-sizing: border-box;
}

footer{ 
    padding: 10px;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: #E76f51;
    text-align: center;
}

.center2 { 
    width: auto;
    min-height: 600px;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1584463699388-770eedddf672?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .center__text { 
    
    font-size: 120px;
    letter-spacing: 10px;
    font-weight: bolder;
    text-transform: uppercase;  
    
  }
  .center-about { 
    width: auto;
    min-height: 400px;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1542744173-05336fcc7ad4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=991&q=80);
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .center-about-text { 
    
    font-size: 120px;
    letter-spacing: 10px;
    font-weight: bolder; 
    color: #f4a261;
    text-transform: uppercase;  
    
  }

  .glitch {
    position: relative;
    color: white;
    mix-blend-mode: lighten;
}
.glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: black;
    clip: rect(0, 0, 0, 0);
}
.glitch:before {
    left: -1px;
    text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}
.glitch:after {
    left: 1px;
    text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}
.glitch:hover:before {
    text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
    animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
}
.glitch:hover:after {
    text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
    animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
}

  @keyframes glitch-loop-1 {
    0% { clip: rect(36px, 9999px, 9px, 0) }
    25% { clip: rect(25px, 9999px, 99px, 0) }
    50% { clip: rect(50px, 9999px, 102px, 0) }
    75% { clip: rect(30px, 9999px, 92px, 0) }
    100% { clip: rect(91px, 9999px, 98px, 0) }
  }
  
  @keyframes glitch-loop-2 {
    0% { top: -1px; left: 1px; clip: rect(65px, 9999px, 119px, 0) }
    25% { top: -6px; left: 4px; clip: rect(79px, 9999px, 19px, 0) }
    50% { top: -3px; left: 2px; clip: rect(68px, 9999px, 11px, 0) }
    75% { top: 0px; left: -4px; clip: rect(95px, 9999px, 53px, 0) }
    100% { top: -1px; left: -1px; clip: rect(31px, 9999px, 149px, 0) }
  }
  

@media screen and (max-width: 2000px) {
    .about { 
      flex-direction: column;
    }
  }

.third {  
    padding: 2%; 
}
.third h1{
    text-align: center;
    padding-bottom:  2%;
}

 
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    display: flex;
  align-items: center;
  justify-content: center;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0px -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 1000px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(185, 184, 184, 0.2);
    padding: 20px; 
    text-align: center;
    background-color: #fafbfc;
  }
/* about d-wiz section */
  .row:after {
    content: "";
    display: table;
    clear: both
  }

  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  .column-33 {
    float: left;
    width: 30%;
    padding: 20px;
  }
  
  .large-font {
    font-size: 48px;
  }
  
  .xlarge-font {
    font-size: 32px
  }
  
  .button {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    border: none;
    background-color: transparent;
    font-size: 20px;
  }
  .button:hover{
    color: #f4a261;
  }
  .button-read { 
    text-decoration: none;
    padding: 7px;
    border: solid 1px #f4a261;
    border-radius: 6px;
    background-color: transparent;
    font-size: 20px;
  }
  .button-read:hover{
    color: #f4a261;
  }
  
  .drop-orange{
    background-color:#f4a261 ;
    text-decoration: none;
    padding: 6px;
    border: none;
    font-size: 18px;
  }
  .drop-orange:hover{
    color: #e7cab3;
  }
  img { 
    width: 300px;
    height: 200px;
  }
  p{
    text-decoration: none;
    color: black;
  }
  
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }

  .card-img-top{ 
      opacity: 0.1;
  }

  .percent-50 {
    width: 50%;
  }
  .card .percent-50 {
    height: 100%;
    padding: 5px;
  }
  .blogPhoto{
    width: auto;
    min-height: 11em;
    background-color: black;
    background-image: url(https://www.houseofbots.com/images/news/3486/cover.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}
.blog-card {
    color: inherit;
}
 
.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}
.blog-card .details, .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}
.blog-card .details a {
    text-decoration: dotted underline;
}
.blog-card .details ul li {
    display: inline-block;
}
.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px; 
}
.blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px; 
}
.blog-card .details .tags ul:before {
    font-family: FontAwesome; 
    margin-right: 10px;
}
.blog-card .details .tags li {
    margin-right: 2px;
}
.blog-card .details .tags li:first-child {
    margin-left: -4px;
}
.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.blog-card .description h1, .blog-card .description h2 {
    font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}
.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}
 
.blog-card .description .read-more {
    color: #5ad67d !important;
    display: inline-block !important;
    position: relative !important;
    font-size: 16px;
    text-transform: uppercase;
    border:none;
    background-color: transparent;
}

.blog-card .description .read-more:hover:after {
    margin-left: 5px;
    opacity: 1;
}
.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}
.blog-card p:first-of-type {
    margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}
.blog-card:hover .details {
    left: 0%;
}
@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
   }
    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
   }
    .blog-card .description {
        flex-basis: 60%;
   }
    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
   }
    .blog-card.alt {
        flex-direction: row-reverse;
   }
    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
   }
    .blog-card.alt .details {
        padding-left: 25px;
   }
}

.card-action{
    box-shadow: 0 4px 8px 0 rgba(185, 184, 184, 0.2);
    padding: 20px; 
    text-align: center;
    background-color: #fafbfc;
}
.edit{
    background-color: #e9ec2b !important;
    display: inline-block !important;
    position: relative !important;
    font-size: 2em;
    text-transform: uppercase;
    border:none;
    background-color: transparent;
}
.delete{
    background-color: #f35e54 !important;
    display: inline-block !important;
    position: relative !important;
    font-size: 2em;
    text-transform: uppercase;
    border:none;
    background-color: transparent;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card-post {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  .navbar-blog {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar-blog h1 {
    color: #f4a261;
  }
   
  .navbar-blog button {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    border: none;
    background-color: transparent;
    font-size: 20px;
  }
  .navbar-blog button:hover {
    color: #f4a261;
  }

  .blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }
  .blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .blog-preview h2 {
    font-size: 20px;
    color: #f4a261;
    margin-bottom: 8px;
  }
  .blog-preview a{
    text-decoration: none;
  }

  /* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f4a261;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f4a261;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


/* create new blog form */
.create { 
  max-width: 600px;
  margin: 15px auto; 
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f4a261;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f4a261;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


